@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background-color: #111111;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.navbar .logo-atas{
    margin: 40px;
    height: 80px;
    width: 265px;
}

.f-hero{
    font-size: 100px;
}

.f-paragraf{
    font-size: 28px;
}

.hero-bg{
    Position: relative;
    bottom: 225px;
    height: 890px;
}

.button-header{
    background-color: #D5963B;
    border-color: #D5963B;
    border-radius: 24px;
    font-size: 24px;
    padding: 12px 32px;
    color: white ;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-header:hover{
    background-color: #6F4200;
    border-color: #6F4200;
}

.about-image{
    width: 493px;
    height: 343px;
    border-radius: 100px 0px 0px 0px;
}

.button-project{
    width: 558px;
    height: 100%;
    padding: 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: rgba(255,255,255, 0.10);
    
    border-bottom: 12px solid #D5963B;
}

.card-project{
    width: 360px;
    height: 100%;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    border-radius: 20px;
}

.card-project .logo-project{
    text-align: center;
}

.card-project .deskripsi-project{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service  {
    background-color: #111111;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service{
    width: 305px;
    height: 337px;
    background-color: white;
    border-radius: 20px;
}

.card-body-service{
    color: #111111;
    padding: 20px;
}

.market{
    background-color: #fff;
    color: #0B2032;
}

.management{
    background-color: #EDEDED;
    color: #0B2032;
}

.card-profile{
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
.our-coverage{
    background-color: #fff;
}

.button-contact{
    background-color: #D5963B;
    border-color: #D5963B;
    border-radius: 24px;
    font-size: 20px;
    padding: 8px 28px;
    color: white ;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-contact:hover{
    background-color: #6F4200;
    border-color: #6F4200;
}

.navbar-logo{
    background-color: white;
    color: #111111;
    padding-bottom: 50px;
}

.btn-successpage{
    text-decoration: none;
    background-color: #111111;
    width: 182px;
    height: 100%;
    padding: 12px;
    border-radius: 12px;
    color: white;
    font-size: 24px;
}


